apiVersion: grizzly.grafana.com/v1alpha1
kind: Dashboard
metadata:
  folder: linuxfabrik-monitoring-plugins
  name: about-me
spec:
  schemaVersion: 2023041201
  tags:
    - Linuxfabrik
    - Grizzly
    - static
  time:
    from: now-90d
    to: now
  timepicker:
    hidden: false
    refresh_intervals:
    - 1m
  timezone: browser
  title: About me
  uid: linuxfabrik-monitoring-plugins-about-me
  editable: true
  liveNow: true
  refresh: 1m
  templating:
    list:
    - hide: 2
      label: Command
      name: command
      query: cmd-check-about-me
      type: constant
    - label: Hostname
      name: hostname
      query: SHOW TAG VALUES FROM "cmd-check-about-me" WITH KEY = "hostname"
      refresh: 2
      sort: 1
      type: query

  panels:

  - title: About me - CPU Cores, Threads and Disks
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 0
      y: 0
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          showPoints: always
          spanNulls: true
        decimals: 0
        min: 0
        unit: short
    options:
      legend:
        calcs:
        - min
        - max
        displayMode: table
        placement: bottom
        showLegend: true
      tooltip:
        mode: multi
        sort: none

    targets:

    - alias: cpu_cores_enabled
      refId: cpu_cores_enabled
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
      tags:
      - key: hostname
        operator: '=~'
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: About me
      - condition: AND
        key: metric
        operator: '='
        value: cpu_cores_enabled

    - alias: cpu_threads
      refId: cpu_threads
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
      tags:
      - key: hostname
        operator: '=~'
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: About me
      - condition: AND
        key: metric
        operator: '='
        value: cpu_threads

    - alias: disks
      refId: disks
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
      tags:
      - key: hostname
        operator: '=~'
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: About me
      - condition: AND
        key: metric
        operator: '='
        value: disks


  - title: About me - CPU Speed
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 12
      y: 0
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          showPoints: always
          spanNulls: true
        decimals: 0
        min: 0
        unit: MHz
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true
      tooltip:
        mode: multi
        sort: none

    targets:

    - alias: cpu_speed
      refId: cpu_speed
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
      tags:
      - key: hostname
        operator: '=~'
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: About me
      - condition: AND
        key: metric
        operator: '='
        value: cpu_speed


  - title: About me - RAM
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 0
      y: 8
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          showPoints: always
          spanNulls: true
        decimals: 1
        min: 0
        unit: bytes
    options:
      legend:
        calcs:
        - min
        - max
        displayMode: table
        placement: bottom
        showLegend: true
      tooltip:
        mode: multi
        sort: none

    targets:

    - alias: ram
      refId: ram
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
      tags:
      - key: hostname
        operator: '=~'
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: About me
      - condition: AND
        key: metric
        operator: '='
        value: ram


  - title: About me - OS Version
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 12
      y: 8
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          showPoints: always
          spanNulls: true
        decimals: 0
        unit: none
    options:
      legend:
        calcs:
        - min
        - max
        displayMode: table
        placement: bottom
        showLegend: true
      tooltip:
        mode: multi
        sort: none

    targets:

    - alias: osversion
      refId: osversion
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
      tags:
      - key: hostname
        operator: '=~'
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: About me
      - condition: AND
        key: metric
        operator: '='
        value: osversion
