# On RHEL8:
#   sudo dnf -y install python39-pip
#   python3.9 -m pip install --user --upgrade pip
#   python3.9 -m pip install --user pip-tools
#   python3.9 -m piptools compile --generate-hashes requirements-windows.in
# remove setuptools from requirements-windows.txt

# On error `self.finder.find_all_candidates.cache_clear()
# AttributeError: 'function' object has no attribute 'cache_clear'`:
#   python3.9 -m pip install --user pip==25.0.1

beautifulsoup4
flatdict
linuxfabrik-lib
lxml --only-binary=lxml
netifaces
psutil
pymysql
PySmbClient
python-novaclient
python-swiftclient
pywinrm
pyyaml
requests
smbprotocol
vici
xmltodict

# needed on Windows:
sspilib
