# On RHEL8:
#   sudo dnf -y install python39-pip
#   python3.9 -m pip install --user --upgrade pip
#   python3.9 -m pip install --user pip-tools
#   python3.9 -m piptools compile --generate-hashes requirements-windows.in
#
# If you get `AttributeError: 'function' object has no attribute 'cache_clear':
#   python3.9 -m pip install 'pip<25.1'

linuxfabrik-lib
psutil
smbprotocol

# needed on Windows:
sspilib
