apiVersion: grizzly.grafana.com/v1alpha1
kind: Dashboard
metadata:
  folder: linuxfabrik-monitoring-plugins
  name: disk-io
spec:
  schemaVersion: 2023041201
  tags:
    - Linuxfabrik
    - Grizzly
    - repeating
  time:
    from: now-90d
    to: now
  timepicker:
    hidden: false
    refresh_intervals:
    - 1m
  timezone: browser
  title: Disk I/O
  editable: true
  liveNow: true
  refresh: 1m
  templating:
    list:
    - label: Command
      name: command
      query: SHOW MEASUREMENTS WITH MEASUREMENT =~ /.*disk-io.*/
      current:
        text: cmd-check-disk-io
        value: cmd-check-disk-io
      refresh: 1
      sort: 1
      type: query
    - label: Hostname
      name: hostname
      query: SHOW TAG VALUES FROM "$command" WITH KEY = "hostname"
      refresh: 1
      sort: 1
      type: query
    - label: Service
      name: service
      query: SHOW TAG VALUES FROM "$command" WITH KEY = "service" WHERE hostname = '$hostname'
      refresh: 1
      sort: 1
      type: query
    - label: Metric
      name: metric
      query: SHOW TAG VALUES FROM "$command" WITH KEY = "metric" WHERE hostname = '$hostname'
      refresh: 1
      sort: 1
      type: query
      hide: 2
      includeAll: true
      multi: true
      regex: /^([^_]+)/

  panels:

  - title: $metric
    type: row
    gridPos:
      h: 1
      w: 24
      x: 0
      y: 0
    repeat: metric
    repeatDirection: h


  - title: Disk I/O - $metric - Bytes per Second
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 0
      y: 1
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: false
        decimals: 1
        mappings: []
        min: 0
        unit: binBps
      overrides:
      - __systemRef: hideSeriesFrom
        matcher:
          id: byNames
          options:
            mode: exclude
            names:
            - throughput1
            prefix: 'All except:'
        properties:
        - id: custom.hideFrom
          value:
            viz: true
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: read_bytes_per_second1
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-read_bytes_per_second1
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_read_bytes_per_second1/

    - alias: read_bytes_per_second15
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-read_bytes_per_second15
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_read_bytes_per_second15/

    - alias: throughput1
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-throughput1
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_throughput1/

    - alias: throughput15
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-throughput15
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_throughput15/

    - alias: write_bytes_per_second1
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-write_bytes_per_second1
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_write_bytes_per_second1/

    - alias: write_bytes_per_second15
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-write_bytes_per_second15
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_write_bytes_per_second15/


  - title: Disk I/O - $metric - Bytes
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 12
      y: 1
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: false
        decimals: 1
        mappings: []
        min: 0
        unit: bytes
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: read_bytes
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-read_bytes
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_read_bytes/

    - alias: write_bytes
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-write_bytes
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_write_bytes/


  - title: Disk I/O - $metric - Times
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 0
      y: 9
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: false
        decimals: 2
        mappings: []
        unit: ms
      overrides:
      - __systemRef: hideSeriesFrom
        matcher:
          id: byNames
          options:
            mode: exclude
            names:
            - read_time
            - write_time
            prefix: 'All except:'
        properties:
        - id: custom.hideFrom
          value:
            viz: true
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: busy_time
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-busy_time
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_busy_time/

    - alias: read_time
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-read_time
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_read_time/

    - alias: write_time
      groupBy:
      - params:
        - $interval
        type: time
      measurement: $command
      refId: disk-io-write_time
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: '='
        value: $hostname
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_write_time/

