[Unit]
Description=The PHP 8.2 FastCGI Process Manager

[Service]
Type=notify
ExecStart=/usr/sbin/php-fpm8.2 --nodaemonize --fpm-config /etc/php/8.2/fpm/php-fpm.conf

[Install]
WantedBy=multi-user.target
