apiVersion: grizzly.grafana.com/v1alpha1
kind: Dashboard
metadata:
  folder: linuxfabrik-monitoring-plugins
  name: network-io
spec:
  schemaVersion: 2023041201
  tags:
    - Linuxfabrik
    - Grizzly
    - repeating
  time:
    from: now-90d
    to: now
  timepicker:
    hidden: false
    refresh_intervals:
    - 1m
  timezone: browser
  title: Network I/O
  editable: true
  liveNow: true
  refresh: 1m
  templating:
    list:
    - hide: 2
      label: Command
      name: command
      query: cmd-check-network-io
      type: constant
    - label: Hostname
      name: hostname
      query: SHOW TAG VALUES FROM "cmd-check-network-io" WITH KEY = "hostname"
      refresh: 1
      sort: 1
      type: query
    - label: Service
      name: service
      query: SHOW TAG VALUES FROM "cmd-check-network-io" WITH KEY = "service" WHERE hostname = '$hostname'
      refresh: 1
      sort: 1
      type: query
    - label: Metric
      name: metric
      query: SHOW TAG VALUES FROM "cmd-check-network-io" WITH KEY = "metric" WHERE hostname = '$hostname'
      refresh: 1
      sort: 1
      type: query
      hide: 2
      includeAll: true
      multi: true
      regex: /^([^_]+)/

  panels:

  - title: $metric
    type: row
    gridPos:
      h: 1
      w: 24
      x: 0
      y: 0
    repeat: metric
    repeatDirection: h


  - title: Network I/O - $metric - Bytes per Second
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 0
      y: 1
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: true
        decimals: 1
        mappings: []
        min: 0
        unit: binBps
      overrides:
      - __systemRef: hideSeriesFrom
        matcher:
          id: byNames
          options:
            mode: exclude
            names:
            - throughput1
            prefix: 'All except:'
        properties:
        - id: custom.hideFrom
          value:
            viz: true
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: bytes_recv_per_second1
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-bytes_recv_per_second1
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_bytes_recv_per_second1/

    - alias: bytes_recv_per_second15
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-bytes_recv_per_second15
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_bytes_recv_per_second15/

    - alias: bytes_sent_per_second1
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-bytes_sent_per_second1
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_bytes_sent_per_second1/

    - alias: bytes_sent_per_second15
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-bytes_sent_per_second15
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_bytes_sent_per_second15/

    - alias: throughput1
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-throughput1
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_throughput1/

    - alias: throughput15
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-throughput15
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_throughput15/


  - title: Network I/O - $metric - Bytes
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 12
      y: 1
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: true
        decimals: 1
        mappings: []
        min: 0
        unit: bytes
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: bytes_recv
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-bytes_recv
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_bytes_recv/

    - alias: bytes_sent
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-bytes_sent
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_bytes_sent/


  - title: Network I/O - $metric - Packets
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 0
      y: 9
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: true
        decimals: 1
        mappings: []
        min: 0
        unit: short
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: packets_recv
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-packets_recv
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_packets_recv/

    - alias: packets_sent
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-packets_sent
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_packets_sent/


  - title: Network I/O - $metric - Stats
    type: timeseries
    gridPos:
      h: 8
      w: 12
      x: 12
      y: 9
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          lineInterpolation: smooth
          spanNulls: true
        decimals: 2
        mappings: []
        unit: short
    options:
      legend:
        calcs:
        - first
        - min
        - mean
        - max
        - last
        displayMode: table
        placement: bottom
        showLegend: true

    targets:

    - alias: dropin
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-dropin
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_dropin/

    - alias: dropout
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-dropout
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_dropout/

    - alias: errin
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-errin
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_errin/

    - alias: errout
      groupBy:
      - params:
        - $interval
        type: time
      measurement: /^$command$/
      refId: network-io-errout
      resultFormat: time_series
      select:
      - - params:
          - value
          type: field
        - params: []
          type: mean
        - params: []
          type: non_negative_difference
        - params:
          - / 1000
          type: math
      tags:
      - key: hostname
        operator: =~
        value: /^$hostname$/
      - condition: AND
        key: service
        operator: '='
        value: $service
      - key: metric
        operator: =~
        value: /^${metric}_errout/
