module linuxfabrik-monitoring-plugins 1.0;

require {
    type chronyc_t;
    type nagios_unconfined_plugin_exec_t;
    class file { execute map };
}

#============= chronyc_t ==============
allow chronyc_t nagios_unconfined_plugin_exec_t:file { execute map };
