module linuxfabrik-monitoring-plugins-icinga 1.4;

require {
    type nagios_unconfined_plugin_exec_t;
    type chronyc_t;
    class file { execute map };
}

allow chronyc_t nagios_unconfined_plugin_exec_t:file { execute map };
