name: 'Linuxfabrik: Linux - Build'

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  # push:
  #   tags:
  #     - '*'

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:

      package-version:
        description: 'The version to give to the packages. Defaults to the current branch or tag.'
        required: false
        default: ''

      lib-repo-ref:
        description: 'The branch, tag or SHA to checkout (lib repo). Defaults to the current branch or tag.'
        required: false
        default: ''

      package-iteration:
        description: 'The iteration to give to the package. RPM calls this the ‘release’. FreeBSD calls it ‘PORTREVISION’. Debian calls this ‘debian_revision’'
        required: false
        default: '1'

      distros:
        description: 'Comma-separated list of distros to build on. Supported: "debian11,debian12,rocky8,rocky9,ubuntu2004,ubuntu2204,ubuntu2404".'
        required: false
        default: 'debian11,debian12,rocky8,rocky9,ubuntu2004,ubuntu2204,ubuntu2404'

env:
  # we use this to get a (mostly) unique directory, therefore avoiding folder collisions when multiple workflows are running
  BASE_DIR: '${{ github.sha }}-${{ github.run_id }}_${{ github.run_attempt }}'

# modify the default permissions granted to the GITHUB_TOKEN
permissions:
  contents: 'read'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  set-matrix:
    runs-on:
      - 'rhel8'
      - 'self-hosted'
    outputs:
      matrix: '${{ steps.generate-matrix.outputs.matrix }}'
    steps:
      - name: 'Generate Matrix'
        id: 'generate-matrix'
        run: |
          distros="${{ inputs.distros }}"
          matrix=$(echo "$distros" | jq --compact-output --raw-input '{"distros": split(",")}')
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  preparations:
    runs-on:
      - 'rhel8'
      - 'self-hosted'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e' # v2.10.4
        with:
          egress-policy: 'audit'

      - name: 'Checkout the monitoring-plugins repo'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4.2.2
        with:
          path: '${{ env.BASE_DIR }}/repos/monitoring-plugins'

      - name: 'Checkout the lib repo'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4.2.2
        with:
          repository: 'Linuxfabrik/lib'
          ref: '${{ inputs.lib-repo-ref || github.ref_name }}'
          path: '${{ env.BASE_DIR }}/repos/lib'

      - name: 'mkdir ${{ env.BASE_DIR }}/build'
        run: 'mkdir ${{ env.BASE_DIR }}/build'

  build-packages:
    runs-on:
      - 'rhel8'
      - 'self-hosted'
    needs:
      - 'set-matrix'
      - 'preparations'
    strategy:
      matrix:
        distro: '${{ fromJson(needs.set-matrix.outputs.matrix).distros }}'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e' # v2.10.4
        with:
          egress-policy: 'audit'

      - name: 'mkdir ${{ env.BASE_DIR }}/build/${{ matrix.distro }}'
        run: 'mkdir ${{ env.BASE_DIR }}/build/${{ matrix.distro }}'

      - name: 'Build the container for ${{ matrix.distro }}'
        run: >
          podman build
          --file "${{ env.BASE_DIR }}/repos/monitoring-plugins/build/${{ matrix.distro }}/Containerfile"
          --tag "lfmp-build-${{ matrix.distro }}"

      - name: 'Build the packages for ${{ matrix.distro }}'
        run: >
          podman run
          --rm
          --mount type=bind,source=${{ env.BASE_DIR }}/build/${{ matrix.distro }},destination=/build,relabel=private
          --mount type=bind,source=${{ env.BASE_DIR }}/repos,destination=/repos,relabel=shared,ro=true
          "lfmp-build-${{ matrix.distro }}"
          /bin/bash -x
          /repos/monitoring-plugins/build/${{ matrix.distro }}/build.sh
          ${{ inputs.package-version || github.ref_name }}
          ${{ inputs.package-iteration || '1' }}


  # this would not work on the GitHub-hosted runners, as each job is isolated there,
  # but works when self-hosted (since there are no parallel jobs)
  upload-outputs:
    runs-on:
      - 'rhel8'
      - 'self-hosted'
    needs: # we want this to run after the build jobs
      - 'build-packages'
    if: '${{ always() }}' # however, we want to upload the artifacts even if one of the job fails

    steps:

      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e' # v2.10.4
        with:
          egress-policy: 'audit'

      - name: 'Upload the output as monitoring-plugins-linux-packages'
        uses: 'actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08' # v4.6.0
        with:
          name: 'monitoring-plugins-linux-packages'
          path: '${{ env.BASE_DIR }}/build/'


  cleanup:
    runs-on:
      - 'rhel8'
      - 'self-hosted'
    needs:  # we want this to run after the above jobs
      - 'upload-outputs'

    steps:

      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e' # v2.10.4
        with:
          egress-policy: 'audit'

      - name: 'rm -rf ${{ env.BASE_DIR }}'
        run: 'rm -rf ${{ env.BASE_DIR }}'
